/* CSS Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

:root {
  --primary-theme-color: #0491d7;
  --secondary-theme-color: #fbcd00;
  --background-color: #e2e8f0;
  --main-text-color: #000000;
  --secondary-text-color: #777777;
  --main-white-color: #ffffff;
  --avatar-1-background-color: #dff2ff;
  --avatar-2-background-color: #fbcd00;
  --avatar-3-background-color: #a3a3a3;
  --avatar-4-background-color: #ffa3ae;
}

.general-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
  background-color: var(--background-color);
}

/* Section Headers */
.project-section-header,
.announcement-section-header,
.trending-section-header {
  padding: 30px 0 10px;
}

/* Hover Effects */
.admin-buttons button:hover {
  cursor: pointer;
  border: 2px solid var(--primary-theme-color);
  background-color: var(--main-white-color);
  color: var(--primary-theme-color);
}

.avatar-placeholder:hover,
.user-info-text:hover {
  cursor: pointer;
}

.project-icons i:hover,
.search-box i:hover,
.user-info i:hover,
.admin-username:hover,
.project-title:hover,
.announcement-title:hover {
  cursor: pointer;
  opacity: 0.5;
}

.sidebar-item:hover {
  cursor: pointer;
  font-weight: 700;
}

.project-card:hover {
  transform: scale(1.01);
}

/* Box Shadows */
.project-card,
.announcement-card,
.trending-card {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Header Section Mobile */
.header-section {
  background-color: var(--main-white-color);
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 10px 0;
}

.search-box input {
  background-color: var(--background-color);
  border: none;
  border-radius: 10px;
  width: 80%;
  padding-left: 3%;
}

.user-info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px 0;
}

.avatar-placeholder {
  background-color: var(--avatar-2-background-color);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.admin-username {
  font-size: 1rem;
  font-weight: 700;
}

.user-greeting {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px 0;
  width: 100%;
}

.avatar-placeholder-large {
  background-color: var(--avatar-2-background-color);
  border-radius: 50%;
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.greeting-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 700;
}

.greeting-hello {
  font-size: 0.8rem;
}

.admin-username-large {
  font-size: 1.2rem;
}

.admin-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
}

.admin-buttons button {
  padding: 10px 15px;
  background-color: var(--primary-theme-color);
  color: var(--main-white-color);
  border: none;
  border-radius: 20px;
  width: 100px;
}

/* Sidebar Section Mobile */
.sidebar-section {
  background-color: var(--primary-theme-color);
  color: var(--main-white-color);
  grid-row: 1 / 2;
}

/* Project Section Mobile */
.project-section {
  grid-row: 3 / 4;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.project-header {
  font-size: 1.1rem;
  font-weight: 700;
}

.project-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: auto; /* used to be only 1fr */
  gap: 15px; /* MAYBE CHANGE TO 20px */
  height: 100%;
}

.project-card {
  display: flex;
  flex-direction: column;
  background-color: var(--main-white-color);
  border-radius: 15px;
  padding: 30px;
  position: relative;
  transition: transform 0.3s ease-in-out;
}

.project-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 15px;
  background-color: var(--secondary-theme-color);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.project-title {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 3px;
}

.project-text {
  font-size: 0.9rem;
  color: var(--secondary-text-color);
}

.project-icons {
  display: flex;
  justify-content: flex-end;
}

.project-icons i {
  margin: 25px 10px 0;
}

/* Announcement Section Mobile */
.announcement-section {
  grid-row: 4 / 5;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.announcement-header {
  font-size: 1.1rem;
  font-weight: 700;
}

.announcement-card {
  display: flex;
  flex-direction: column;
  background-color: var(--main-white-color);
  border-radius: 15px;
  padding: 30px;
}

.announcement-title {
  font-size: 0.9rem;
  font-weight: 700;
  margin-bottom: 3px;
}

.announcement-card .announcement-title:nth-of-type(3),
.announcement-card .announcement-title:nth-of-type(5) {
  margin-top: 15px;
}

.announcement-text {
  font-size: 0.8rem;
  margin-bottom: 15px;
  color: var(--secondary-text-color);
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.announcement-card .announcement-text:nth-of-type(6) {
  margin-bottom: 0;
}

/* Trending Section Mobile */
.trending-section {
  grid-row: 5 / 6;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  margin-bottom: 20px;
}

.trending-header {
  font-size: 1.1rem;
  font-weight: 700;
}

.trending-card {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: 1fr;
  background-color: var(--main-white-color);
  border-radius: 15px;
  padding: 30px 30px;
  gap: 15px;
}

.trending-user-info {
  display: flex;
}

.trending-user-info .avatar-1 {
  background-color: var(--avatar-1-background-color);
}

.trending-user-info .avatar-2 {
  background-color: var(--avatar-2-background-color);
}

.trending-user-info .avatar-3 {
  background-color: var(--avatar-3-background-color);
}

.trending-user-info .avatar-4 {
  background-color: var(--avatar-4-background-color);
}

.user-info-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 25px;
}

.user-handle,
.user-project {
  font-size: 0.9rem;
}

.user-project {
  color: var(--secondary-text-color);
}

.main-content-section {
  margin-bottom: 20px;
}

/* Screen sizes >= 425px */
@media screen and (min-width: 425px) {
  .header-section {
    padding: 10px 30px;
  }

  .search-box {
    gap: 10px;
  }

  .search-box input {
    width: 60%;
  }

  .user-info {
    width: 80%;
    margin: 0 auto;
  }
}

/* Screen sizes >= 500px */
@media screen and (min-width: 500px) {
  .search-box {
    padding: 10px 50px;
  }

  .search-box input {
    width: 80%;
  }

  .user-info {
    width: 60%;
  }

  .user-greeting {
    width: 80%;
    margin: 0 auto;
  }

  .admin-buttons button {
    width: 120px;
  }
}

/* Screen sizes >= 600px */
@media screen and (min-width: 600px) {
  .search-box {
    padding: 10px 80px;
  }

  .search-box input {
    width: 80%;
  }

  .user-info {
    width: 50%;
  }

  .user-greeting {
    width: 65%;
  }

  .admin-buttons {
    justify-content: space-evenly;
  }
}

@media screen and (min-width: 768px) {
  .general-container {
    grid-template-columns: 200px 1fr;
    grid-template-rows: 1fr repeat(2, 2fr);
  }

  .header-section {
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    grid-template-rows: 2fr;
    padding: 10px;
  }

  .sidebar-section {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(8, auto);
    gap: 10px;
    color: var(--main-white-color);
  }

  .main-content-section {
    grid-column: 2 / -1;
    grid-row: 2 / -1;
    display: grid;
    grid-template-columns: 2fr minmax(280px, 1fr);
    grid-template-rows: 1fr 1fr;
    margin-bottom: 0;
    background-color: var(--background-color);
    padding: 0 10px;
  }

  .project-section {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    margin-bottom: 20px;
  }

  .announcement-section {
    grid-column: 2 / -1;
    grid-row: 1 / 2;
  }

  .trending-section {
    grid-column: 2 / -1;
    grid-row: 2 / -1;
    display: flex;
    justify-content: flex-end;
  }

  .search-box {
    padding: 10px;
  }

  .search-box input {
    border-radius: 20px;
    height: 30px;
  }

  .search-box input,
  .user-info,
  .user-greeting {
    width: 100%;
  }

  .admin-buttons button {
    width: 100px;
  }

  .dashboard-header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-white-color);
  }

  .dashboard-header p {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 1.2rem;
    font-weight: 700;
  }

  .sidebar-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    color: var(--main-white-color);
    text-decoration: none;
    margin: 20px;
  }

  .project-cards {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
  }
}

@media screen and (min-width: 900px) {
  .header-section {
    padding: 10px 30px;
  }

  .search-box {
    width: 120%;
  }

  .user-info,
  .admin-buttons {
    justify-content: flex-end;
    gap: 0 30px;
  }

  .user-greeting {
    justify-content: flex-start;
  }

  .greeting-text {
    margin-left: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .main-content-section {
    grid-template-columns: 3fr 300px;
  }
}

@media screen and (min-width: 1400px) {
  .project-cards {
    grid-template-columns: repeat(3, minmax(250px, 1fr));
  }
}
